.invitation-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ebd3bb;

  .invitation-text {
    margin: 0 auto;
    color: #5c5d5d;
    font-size: 0.9rem;
    line-height: 2.5rem;
    text-align: center;
  }

  .parent-name-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;

    .parent-name-row {
      display: flex;
      width: 14.5rem;
      align-items: flex-end;
      justify-content: space-between;

      .parent-name {
        margin: 0.5rem 0;
      }

      .particle {
        font-size: 0.6rem;
      }
    }
  }
}
