.share-link-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ebd3bb;
}

.location-detail-container {
  width: 100%;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  line-height: 2;
  text-align: center;
}

.share-link-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.share-link-button-container-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.share-button {
  display: flex;
  width: 10rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 0.8rem;
  text-align: center;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
