.title-box-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  .title {
    position: absolute;
    z-index: 1;
    top: 5vh;
  }

  .title-frame {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .main-img {
    position: absolute;
    z-index: -1;
    top: 10vh;
    width: 100%;
  }
}

.wedding-info-container {
  position: absolute;
  top: 82.1vh;
  display: flex;
  height: 7vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;

  p {
    margin: 0;
  }

  .wedding-date {
    z-index: 1;
    color: #fff;
  }

  .wedding-location {
    z-index: 1;
    color: #fff;
  }
}
