.transfer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .message {
    margin: 1rem auto;
    color: #878787;
    font-size: 0.8rem;
    text-align: center;
  }

  .account-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "Spoqa Han Sans Neo", sans-serif;

    p {
      margin: 0.5rem 0;
      color: #878787;
      font-size: 0.8rem;
      text-align: left;
    }

    .account-info {
      cursor: pointer;
      text-decoration-line: underline;
      text-decoration-style: dashed;
    }
  }
}

.swal2-popup.swal2-toast .swal2-title {
  margin: 0;
}

.swal2-container.swal2-bottom>.swal2-popup {
  padding: 1rem;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 0.9rem;
}
