h2 {
  width: 100%;
  color: #D5CBC0;
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  margin-top: 4rem;
  color: #C3BFBD;
  font-size: 0.9rem;
  text-align: center;
}

h4 {
  margin-bottom: 1.3rem;
  color:#878787;
  font-size: 0.8rem;
  text-align: center;
}

:lang(ko) {
  h1, h2, h3, h4 {
    word-break: keep-all;
  }
}

body {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #F2E6DA;
  background-image: url("/assets/patron.png");
  color: #000;
  font-family: MaruBuri-Regular, serif;
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

.comment_title {
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin: 0;
  background-image: url("/assets/patron.png");
  font-size: 1rem;
}

.utterances {
  background-image: url("/assets/patron.png");
}

.background-image {
  background-image: url("/assets/patron.png");
}

#bank_info {
  width: 80vw;
  height: 8vw;
  border: 1px solid #c8c8c8;
  margin: 0 auto 1vw;
  background: #fff;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 0.8rem;
  line-height: 8vw;
  text-align: center;
}

#bank_contents {
  display: none;
  width: 80vw;
  padding: 5vw 0;
  border: 1px solid #c8c8c8;
  margin: 0 auto;
  background: #fff;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 3.5vw;
  letter-spacing: -1;
  line-height: 6vw;
  text-align: center;
}

.location {
  width:100%;
  padding: 30px 0;
  background-color: #ebd3bb;
  text-align: center;
}

.location_detail {
  margin-bottom: 20px;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size:4vw;
  line-height: 2;
}

.location_button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ebd3bb;
}

.location_button_container_row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lo_btn {
  display: flex;
  width: 37vw;
  height: 8.2vw;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 0.8rem;
  text-align: center;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.meta_image {
  width: 100%;
}

.kakao_share_container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.kakao_share_icon {
  width: 6.25vw;
  vertical-align:-7px;
}

.kakao_share {
  color: #CDBBAB;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  font-size: 4.4vw;
}

.credit {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
  background-color: #a88b7e;
  color: #586069;
  font-family: "Spoqa Han Sans Neo", sans-serif;

  span {
    margin-right: 1rem;
  }
}
