h1 {
  width: 100%;
  margin-bottom: 0;
  color: #D5CBC0;
  font-size: 1.2rem;
  text-align: center;
}

h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: #D5CBC0;
  font-size: 1.2rem;
  text-align: center;
}

h3 {
  margin-top: 4rem;
  color: #C3BFBD;
  font-size: 0.9rem;
  text-align: center;
}

h4 {
  margin-bottom: 1.3rem;
  color:#878787;
  font-size: 0.8rem;
  text-align: center;
}

:lang(ko) {
  h1, h2, h3, h4 {
    word-break: keep-all;
  }
}

body {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #F2E6DA;
  background-image: url("/assets/patron.png");
  color: #000;
  font-family: MaruBuri-Regular, serif;
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

.background-image {
  background-image: url("/assets/patron.png");
}

.info-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
