.swiper-container {
  padding-bottom: 6vw;
}

.swiper-slide {
  background: rgba(0, 0, 0, 0) center;
  background-size: cover;
  width: 47.4vw;
  height: 83vw;
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 100%;
}

.swiper-container>.swiper-wrapper .swiper-slide img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
