<script type="text/javascript" src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js"></script>

<p title="터치하여 캘린더에 추가하세요" class="addeventatc" data-styling="none">
  “터치하여 캘린더에 추가하세요”
  <span class="start">2022/11/20 16:50</span>
  <span class="end">2022/11/20 18:00</span>
  <span class="timezone">Asia/Seoul</span>
  <span class="title">💒 박천 이희진 결혼식</span>
  <span class="location">더컨벤션 서울특별시 송파구 문정동 326-2, 대한민국</span>
  <span class="calname">박천 이희진 결혼식</span>
</p>

<style>
.addeventatc {
  color: #878787;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
}

.addeventatc span {
  display: none;
}
</style>
