<link rel="stylesheet" href="/src/stylesheets/calendar.scss">

<div class="container background-image calendar-container ">
  <img alt="11월 20일"
       class="date-photo"
       src="/assets/photos/date-photo-11-20.jpg">
  <div class="title-container">
    <h2 class="month">November</h2>
    <include src="./src/components/add-to-calendar.html"></include>
  </div>
  <div class="calendar">
    <div class="calendar-left">
      <div class="year">2022</div>
      <div class="month">11</div>
    </div>
    <div class="calendar-right">
      <table>
        <tbody>
        <tr class="weekday">
          <th>일</th>
          <th>월</th>
          <th>화</th>
          <th>수</th>
          <th>목</th>
          <th>금</th>
          <th>토</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
        </tr>
        <tr>
          <td class="marriage-day">
            <div class="day-box">20</div>
          </td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr>
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td>30</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
