<link rel="stylesheet" href="/src/stylesheets/invitation.scss">

<div class="background-image invitation-container">
  <h2 class="title">초대합니다</h2>
  <div class="invitation-text">
    사계절을 7번 돌며 나란히 걷는 동안<br>
    서로에게 더 좋은 사람이 되고 싶어졌습니다.<br>
    <br>
    함께 할 인생의 모든 계절 동안<br>
    언제나처럼 평생의 친구이자<br>
    서로에게 유일한 사람으로 머물겠습니다.<br>
    <br>
    하나 되어 맞이하는 두 사람의 첫 계절.<br>
    동행하여 축복해주시면 감사하겠습니다.<br>
  </div>

  <div class="parent-name-container">
    <div class="parent-name">
      <p>박병대 · 은미경 <span class="particle">의 장남</span></p>
      <p>박 천</p>
    </div>
    <div class="parent-name">
      <p>이철호 · 최선이 <span class="particle">의 장녀</span></p>
      <p>이희진</p>
    </div>
  </div>
</div>
