<!-- Primary Meta Tags -->
<meta name="title" content="박천 ❤️ 이희진 결혼합니다">
<meta name="description" content="2022년 11월 20일 16시 50분 더컨벤션 송파문정점 12층 그랜드볼룸">
<meta name="language" content="Korean">
<meta name="author" content="Cheon Park, Lee Heejin">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="robots" content="index, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://foxwavez-penguin.love">
<meta property="og:title" content="박천 ❤️ 이희진 결혼합니다">
<meta property="og:description" content="2022년 11월 20일 16시 50분 더컨벤션 송파문정점 12층 그랜드볼룸">
<meta property="og:image" content="/assets/photos/date-photo-11-20.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://foxwavez-penguin.love">
<meta property="twitter:title" content="박천 ❤️ 이희진 결혼합니다">
<meta property="twitter:description" content="2022년 11월 20일 16시 50분 더컨벤션 송파문정점 12층 그랜드볼룸">
<meta property="twitter:image" content="/assets/photos/date-photo-11-20.jpg">

<!-- Apple -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
