<script type="text/javascript" src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.0/kakao.min.js" integrity="sha384-PFHeU/4gvSH8kpvhrigAPfZGBDPs372JceJq3jAXce11bVA6rMvGWzvP4fMQuBGL" crossorigin="anonymous"></script>
<script type="module" src="/src/scripts/share-link.ts"></script>
<link rel="stylesheet" href="/src/stylesheets/share-link.scss">
<link rel="stylesheet" href="/assets/stylesheets/button.scss">

<div class="share-link-container background-image">
  <div class="location-detail-container">
    <p class="location-detail">서울특별시 송파구 송파대로 155 (문정동651-8)</p>
    <p class="location-detail">더컨벤션 송파문정점 / 그랜드볼룸 12층</p>
    <a class="location-detail tel-hall" href="tel:02-6418-5000">02-6418-5000</a>
  </div>
  <div class="share-link-button-container">
    <div class="share-link-button-container-row">
      <button class="uk-button share-button">
        <a href="https://naver.me/x2Eav2yF">네이버맵 길찾기</a>
      </button>
      <button class="uk-button share-button share-link">공유하기</button>
    </div>
    <div class="share-link-button-container-row">
      <button class="uk-button share-button">
        <a href="https://map.kakao.com/link/to/167068900">카카오맵 길찾기</a>
      </button>
      <button class="uk-button share-button share-link-kakao">카카오톡으로 공유하기</button>
    </div>
  </div>
</div>
