<link rel="stylesheet" href="/src/stylesheets/transfer.scss">

<div class="background-image transfer-container">
  <h2 class="title">
    마음 전하실 곳
  </h2>
  <p class="message">“두 사람을 축하하는 마음을 전해주세요”</p>
  <div class="account-container">
    <div class="account">
      <p class="account-role">신랑</p>
      <p class="account-info account-name">토스뱅크</p>
      <p class="account-info account-number">1000-0096-0089</p>
      <p class="account-info account-holder">박천</p>
    </div>
    <div class="account">
      <p class="account-role">신부</p>
      <p class="account-info account-name">토스뱅크</p>
      <p class="account-info account-number">1000-0312-5259</p>
      <p class="account-info account-holder">이희진</p>
    </div>
  </div>
</div>

<script type="module" src="/src/scripts/transfer.ts"></script>
